<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>To Do List</title>
  </head>
  <body>
    <form action="/parcel" method="post">
      <label for="length">Add package length:</label>
      <input type="double" name="length" id="length">
      <label for="width">Add package width:</label>
      <input type="double" name="width" id="width">
      <label for="height">Add package height:</label>
      <input id="height" name="height" type="double">
      <label for="weight">Add package weight:</label>
      <input id="weight" name="weight" type="double">
      <button type="submit">Calculate shipping cost!</button>
    </form>
  </body> 
</html>